/*
color scheme from google:
dark purple: #5A4568, black: #000000, dark red: #B70404, dark green: #2D7F32

overflow, overflow-x, overflow-y: these rules handle when content overflows out of a section.  by setting
one of these rules to 'hidden', the content will disappear.  by setting one of them to 'scroll', a  scroll bar
will appear, allowing them to scroll to see the content.

'clear: both;' breaks floating.

'box-sizing: border-box;' causes the 'height' and 'width' rules to apply to an entire element, instead of just the content inside
that element.  this is especially useful when aligning multiple elements in a section.
*/

body {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    text-transform: uppercase;
    background-color: gainsboro; /* silver/gainsboro/lightgray ? */
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px groove black;
}

h1 {
    font-size: 60px;
    color: #5A4568; /* dark purple from google */
    margin: 0;
    padding: 20px 0;
    text-shadow: 0 0 10px black;
}

h2 {
    color: darkred;
    text-shadow: 0 0 15px black;
}

p, ul {
    line-height: 2;
    letter-spacing: 1px;
    color: #B70404; /* dark red from google */
}

a {
    line-height: 2;
    letter-spacing: 1px;
    color: #5A4568;
}

.coming-soon-subscript {
    font-size: 10px;
    color: #2D7F32;
    font-weight: normal; /* these elements will be appearing in headers, which are automatically bolded.  this is to remove the bold-ness. */
}

.clearfix {
    clear: both;
}

hr {
    margin: 0 -20px 20px -20px;
}

button {
    text-transform: none;
}